site_name: 可斤山的个人网站
site_url: https://mydomain.org/mysite
theme:
  name: material
  custom_dir: overrides
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/yctf.jpg
  palette: 
 # Palette toggle for light mode
    - scheme: default
      primary: grey
      accent: indigo
      toggle:
        icon: material/brightness-7 
        name: 调整为暗色模式
        
        
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue grey
      accent: amber
      toggle:
        icon: material/brightness-4
        name: 调整为亮色模式
markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
plugins:
  - blog
  - search
  - meta