site_name: 亚瑟王的王之宝库
site_url: https://mydomain.org/mysite
repo_url: https://github.com/you-xia-xue/YXX-blog
edit_uri: '?query=root/path/docs/'
repo_name: 王之宝库
theme:
  language: zh
  name: material
  icon:
    repo:fontawesome/brands/git-alt
  custom_dir: overrides
  features:
    - content.grid
    - attr_list
    - md_in_html
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - navigation.instant
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/saber.jpg
  palette: 
 # Palette toggle for light mode
    - scheme: default
      primary: grey
      accent: indigo
      toggle:
        icon: material/brightness-7 
        name: 调整为暗色模式
        
        
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue grey
      accent: amber
      toggle:
        icon: material/brightness-4
        name: 调整为亮色模式
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
   
extra_javascript:
  # 引入 MathJax CDN（Material 会自动关联，无需手动调用渲染函数）
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
plugins:
  - search
  - meta
  - tags
