site_name: 亚瑟王的王之宝库
site_url: https://mydomain.org/mysite
repo_url: https://github.com/you-xia-xue/YXX-blog
edit_uri: '?query=root/path/docs/'
theme:
  language: zh
  name: material
  icon:
    repo:fontawesome/brands/git-alt
  custom_dir: overrides
  features:
    - content.code.annotate
    - content.code.select
    - content.code.copy
    - navigation.instant
    - navigation.top
    - navigation.tabs
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/saber.jpg
  palette: 
 # Palette toggle for light mode
    - scheme: default
      primary: grey
      accent: indigo
      toggle:
        icon: material/brightness-7 
        name: 调整为暗色模式
        
        
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue grey
      accent: amber
      toggle:
        icon: material/brightness-4
        name: 调整为亮色模式
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search
  - meta
  - tags